<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
</head>
<body>
    <h2>Registration</h2>
    <form action="/api/register/" method='POST'>
        {% csrf_token %}
        <label for="username">username</label>
        <input type="text" id='reg_username' name='username'>
        <br>
        <label for='password'>password</label>
        <input type="password" id='reg_password' name='password'>
        <br>
        <input type='submit'>
    </form>
    <h2>Login</h2>
    <form onsubmit="login(event)">
    {% csrf_token %}
    <label>username</label>
    <input type="text" id="log_username">

    <label>password</label>
    <input type="password" id="log_password">

    <input type="submit" value="Login">
</form>

<script>
function login(event) {
    event.preventDefault();  // stop redirect

    fetch("/login/", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            username: document.getElementById("log_username").value,
            password: document.getElementById("log_password").value
        })
    })
    .then(res => res.json())
    .then(data => {
        if (data.access) {
            localStorage.setItem("access", data.access);
            localStorage.setItem("refresh", data.refresh);
            alert("Login successful!");
            window.location.href = "/home/";
        } else {
            alert("Invalid username or password");
        }
    });
}
</script>
</body>
</html>